body{
    font-family: Arial;
    margin: 0;
    background: #f4f4;
}
header{
    background: #333;
    color: rgb(6, 230, 238);
    text-align: center;
    padding: 30px;
}
section{
    padding: 20px;
    margin: 20px;
    background: rgb(202, 144, 240);
}
h2{
    color: #ef4491;
}